<!-- This is the change_update_password.html file which will be used as a form to allow the user to 
change and update his/her password whenever they want. -->
{% extends "foundation.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <h1>Change Password</h1>

    <form action="#" method="post">
        <!-- User will enter their old password first. -->
        <p><label for="Enter old Password">Old Password:</label></p>
        <p><input style="height:30px;font-size:14pt;" type="text" name="Old Password"></p>

        <!-- This is used for explicitly stating the password complexity requirements for a new
        user trying to register to have full access to the content on the other accompanying routes/
        webpages. -->
        <p>
            <br>The password must be at least 12 characters in length</br>
            <br>The password must include at least 1 uppercase character</br>
            <br>The password must include at least 1 lowercase character</br>
            <br>The password must include at least 1 number</br>
            <br>The password must include at least 1 special character</br>
        </p>
        <!-- User will enter a new password of their choosing. -->
        <p><label for="new password">New Password:</label></p>
        <p><input style="height:30px;font-size:14pt;" type="text" name="New Password"></p>

        <!-- User will re-enter their new password of their choosing. -->
        <p><label for="Reentering new password">Re-enter New Password:</label></p>
        <p><input style="height:30px;font-size:14pt;" type="text" name="Re-enter New Password"></p>

        <!-- This is the submit button for the user to click on when finished updating password. -->
        <p><input type="submit" class="submit" value="Submit"></p>
    </form>
</div>

{% endblock %}